<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="bb737d">  <td>24/01/06 22:17:44</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Delete_TestScript.delete_test_executor()[pri:0, instance:API_TestSuite.Delete_TestScript@55183b20]">delete_test_executor</td> 
  <td>main@1323434987</td>   <td></td> </tr>
<tr bgcolor="bb737d">  <td>24/01/06 22:17:34</td>   <td>-10575</td> <td>&nbsp;</td><td title="&gt;&gt;Delete_TestScript.delete_test_setup()[pri:0, instance:API_TestSuite.Delete_TestScript@55183b20]">&gt;&gt;delete_test_setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1323434987</td>   <td></td> </tr>
<tr bgcolor="bb737d">  <td>24/01/06 22:17:45</td>   <td>498</td> <td>&nbsp;</td><td title="&lt;&lt;Delete_TestScript.delete_test_teardown()[pri:0, instance:API_TestSuite.Delete_TestScript@55183b20]">&lt;&lt;delete_test_teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1323434987</td>   <td></td> </tr>
<tr bgcolor="a6ba85">  <td>24/01/06 22:17:41</td>   <td>-3641</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Get_TestScript.get_test_executor()[pri:0, instance:API_TestSuite.Get_TestScript@747ddf94]">get_test_executor</td> 
  <td>main@1323434987</td>   <td></td> </tr>
<tr bgcolor="a6ba85">  <td>24/01/06 22:17:34</td>   <td>-10562</td> <td>&nbsp;</td><td title="&gt;&gt;Get_TestScript.get_test_setup()[pri:0, instance:API_TestSuite.Get_TestScript@747ddf94]">&gt;&gt;get_test_setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1323434987</td>   <td></td> </tr>
<tr bgcolor="a6ba85">  <td>24/01/06 22:17:45</td>   <td>507</td> <td>&nbsp;</td><td title="&lt;&lt;Get_TestScript.get_test_teardown()[pri:0, instance:API_TestSuite.Get_TestScript@747ddf94]">&lt;&lt;get_test_teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1323434987</td>   <td></td> </tr>
<tr bgcolor="c562f7">  <td>24/01/06 22:17:41</td>   <td>-3120</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Patch_TestScript.patch_test_executor()[pri:0, instance:API_TestSuite.Patch_TestScript@35e2d654]">patch_test_executor</td> 
  <td>main@1323434987</td>   <td></td> </tr>
<tr bgcolor="c562f7">  <td>24/01/06 22:17:34</td>   <td>-10558</td> <td>&nbsp;</td><td title="&gt;&gt;Patch_TestScript.patch_test_setup()[pri:0, instance:API_TestSuite.Patch_TestScript@35e2d654]">&gt;&gt;patch_test_setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1323434987</td>   <td></td> </tr>
<tr bgcolor="c562f7">  <td>24/01/06 22:17:45</td>   <td>517</td> <td>&nbsp;</td><td title="&lt;&lt;Patch_TestScript.patch_test_teardown()[pri:0, instance:API_TestSuite.Patch_TestScript@35e2d654]">&lt;&lt;patch_test_teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1323434987</td>   <td></td> </tr>
<tr bgcolor="8ba8c8">  <td>24/01/06 22:17:43</td>   <td>-1408</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Post_TestScript.post_test_executor()[pri:0, instance:API_TestSuite.Post_TestScript@1bd4fdd]">post_test_executor</td> 
  <td>main@1323434987</td>   <td></td> </tr>
<tr bgcolor="8ba8c8">  <td>24/01/06 22:17:35</td>   <td>-9394</td> <td>&nbsp;</td><td title="&gt;&gt;Post_TestScript.post_test_setup()[pri:0, instance:API_TestSuite.Post_TestScript@1bd4fdd]">&gt;&gt;post_test_setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1323434987</td>   <td></td> </tr>
<tr bgcolor="8ba8c8">  <td>24/01/06 22:17:45</td>   <td>523</td> <td>&nbsp;</td><td title="&lt;&lt;Post_TestScript.post_test_teardown()[pri:0, instance:API_TestSuite.Post_TestScript@1bd4fdd]">&lt;&lt;post_test_teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1323434987</td>   <td></td> </tr>
<tr bgcolor="f56bcc">  <td>24/01/06 22:17:35</td>   <td>-9124</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Put_TestScript.put_test_executor()[pri:0, instance:API_TestSuite.Put_TestScript@4efbca5a]">put_test_executor</td> 
  <td>main@1323434987</td>   <td></td> </tr>
<tr bgcolor="f56bcc">  <td>24/01/06 22:17:35</td>   <td>-9273</td> <td>&nbsp;</td><td title="&gt;&gt;Put_TestScript.put_test_setup()[pri:0, instance:API_TestSuite.Put_TestScript@4efbca5a]">&gt;&gt;put_test_setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1323434987</td>   <td></td> </tr>
<tr bgcolor="f56bcc">  <td>24/01/06 22:17:45</td>   <td>528</td> <td>&nbsp;</td><td title="&lt;&lt;Put_TestScript.put_test_teardown()[pri:0, instance:API_TestSuite.Put_TestScript@4efbca5a]">&lt;&lt;put_test_teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1323434987</td>   <td></td> </tr>
</table>
