<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="e26588">  <td>24/01/06 22:33:35</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;annotation.AfterClass()[pri:0, instance:API_TestSuite.annotation@1623b78d]">&lt;&lt;AfterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@757004314</td>   <td></td> </tr>
<tr bgcolor="e26588">  <td>24/01/06 22:33:35</td>   <td>-6</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;annotation.AfterMethod()[pri:0, instance:API_TestSuite.annotation@1623b78d]">&lt;&lt;AfterMethod</td> 
<td>&nbsp;</td>  <td>main@757004314</td>   <td></td> </tr>
<tr bgcolor="e26588">  <td>24/01/06 22:33:36</td>   <td>172</td> <td title="&lt;&lt;annotation.AfterSuite()[pri:0, instance:API_TestSuite.annotation@1623b78d]">&lt;&lt;AfterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@757004314</td>   <td></td> </tr>
<tr bgcolor="e26588">  <td>24/01/06 22:33:35</td>   <td>8</td> <td>&nbsp;</td><td title="&lt;&lt;annotation.AfterTest()[pri:0, instance:API_TestSuite.annotation@1623b78d]">&lt;&lt;AfterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@757004314</td>   <td></td> </tr>
<tr bgcolor="e26588">  <td>24/01/06 22:33:35</td>   <td>-79</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;annotation.BeforeClass()[pri:0, instance:API_TestSuite.annotation@1623b78d]">&gt;&gt;BeforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@757004314</td>   <td></td> </tr>
<tr bgcolor="e26588">  <td>24/01/06 22:33:35</td>   <td>-52</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;annotation.BeforeMethod()[pri:0, instance:API_TestSuite.annotation@1623b78d]">&gt;&gt;BeforeMethod</td> 
<td>&nbsp;</td>  <td>main@757004314</td>   <td></td> </tr>
<tr bgcolor="e26588">  <td>24/01/06 22:33:35</td>   <td>-123</td> <td title="&gt;&gt;annotation.BeforeSuite()[pri:0, instance:API_TestSuite.annotation@1623b78d]">&gt;&gt;BeforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@757004314</td>   <td></td> </tr>
<tr bgcolor="e26588">  <td>24/01/06 22:33:35</td>   <td>-107</td> <td>&nbsp;</td><td title="&gt;&gt;annotation.BeforeTest()[pri:0, instance:API_TestSuite.annotation@1623b78d]">&gt;&gt;BeforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@757004314</td>   <td></td> </tr>
<tr bgcolor="e26588">  <td>24/01/06 22:33:35</td>   <td>-49</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="annotation.Test()[pri:0, instance:API_TestSuite.annotation@1623b78d]">Test</td> 
  <td>main@757004314</td>   <td></td> </tr>
</table>
