<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>RestAPI_Sprint1_Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9d6b9d">  <td>23/12/28 20:03:39</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Patch_TestScript.patch_test_executor(java.lang.String,java.lang.String)[pri:0, instance:TestClass_TestngFilePrameterization.Patch_TestScript@747ddf94]">patch_test_executor</td> 
  <td>main@271095942</td>   <td></td> </tr>
<tr bgcolor="9d6b9d">  <td>23/12/28 20:03:30</td>   <td>-9500</td> <td>&nbsp;</td><td title="&gt;&gt;Patch_TestScript.patch_test_setup()[pri:0, instance:TestClass_TestngFilePrameterization.Patch_TestScript@747ddf94]">&gt;&gt;patch_test_setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@271095942</td>   <td></td> </tr>
<tr bgcolor="9d6b9d">  <td>23/12/28 20:03:41</td>   <td>1481</td> <td>&nbsp;</td><td title="&lt;&lt;Patch_TestScript.patch_test_teardown()[pri:0, instance:TestClass_TestngFilePrameterization.Patch_TestScript@747ddf94]">&lt;&lt;patch_test_teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@271095942</td>   <td></td> </tr>
<tr bgcolor="c562f7">  <td>23/12/28 20:03:30</td>   <td>-9385</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Post_TestScript.post_test_executor(java.lang.String,java.lang.String)[pri:0, instance:TestClass_TestngFilePrameterization.Post_TestScript@6069db50]">post_test_executor</td> 
  <td>main@271095942</td>   <td></td> </tr>
<tr bgcolor="c562f7">  <td>23/12/28 20:03:30</td>   <td>-9482</td> <td>&nbsp;</td><td title="&gt;&gt;Post_TestScript.post_test_setup()[pri:0, instance:TestClass_TestngFilePrameterization.Post_TestScript@6069db50]">&gt;&gt;post_test_setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@271095942</td>   <td></td> </tr>
<tr bgcolor="c562f7">  <td>23/12/28 20:03:41</td>   <td>1488</td> <td>&nbsp;</td><td title="&lt;&lt;Post_TestScript.post_test_teardown()[pri:0, instance:TestClass_TestngFilePrameterization.Post_TestScript@6069db50]">&lt;&lt;post_test_teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@271095942</td>   <td></td> </tr>
<tr bgcolor="bb737d">  <td>23/12/28 20:03:38</td>   <td>-1420</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Put_TestScript.put_test_executor(java.lang.String,java.lang.String)[pri:0, instance:TestClass_TestngFilePrameterization.Put_TestScript@2f9f7dcf]">put_test_executor</td> 
  <td>main@271095942</td>   <td></td> </tr>
<tr bgcolor="bb737d">  <td>23/12/28 20:03:30</td>   <td>-9479</td> <td>&nbsp;</td><td title="&gt;&gt;Put_TestScript.put_test_setup()[pri:0, instance:TestClass_TestngFilePrameterization.Put_TestScript@2f9f7dcf]">&gt;&gt;put_test_setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@271095942</td>   <td></td> </tr>
<tr bgcolor="bb737d">  <td>23/12/28 20:03:41</td>   <td>1497</td> <td>&nbsp;</td><td title="&lt;&lt;Put_TestScript.put_test_teardown()[pri:0, instance:TestClass_TestngFilePrameterization.Put_TestScript@2f9f7dcf]">&lt;&lt;put_test_teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@271095942</td>   <td></td> </tr>
</table>
