<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>RestAPI_Sprint2_Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="dc8ecb">  <td>23/12/21 21:55:13</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Delete_TestScript.delete_test_executor()[pri:3, instance:API_TestSuite.Delete_TestScript@1b7cc17c]">delete_test_executor</td> 
  <td>main@1199262943</td>   <td></td> </tr>
<tr bgcolor="dc8ecb">  <td>23/12/21 21:55:06</td>   <td>-6547</td> <td>&nbsp;</td><td title="&gt;&gt;Delete_TestScript.delete_test_setup()[pri:0, instance:API_TestSuite.Delete_TestScript@1b7cc17c]">&gt;&gt;delete_test_setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1199262943</td>   <td></td> </tr>
<tr bgcolor="dc8ecb">  <td>23/12/21 21:55:13</td>   <td>827</td> <td>&nbsp;</td><td title="&lt;&lt;Delete_TestScript.delete_test_teardown()[pri:0, instance:API_TestSuite.Delete_TestScript@1b7cc17c]">&lt;&lt;delete_test_teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1199262943</td>   <td></td> </tr>
<tr bgcolor="e26588">  <td>23/12/21 21:55:07</td>   <td>-5395</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Get_TestScript.get_test_executor()[pri:5, instance:API_TestSuite.Get_TestScript@1623b78d]">get_test_executor</td> 
  <td>main@1199262943</td>   <td></td> </tr>
<tr bgcolor="e26588">  <td>23/12/21 21:55:06</td>   <td>-6534</td> <td>&nbsp;</td><td title="&gt;&gt;Get_TestScript.get_test_setup()[pri:0, instance:API_TestSuite.Get_TestScript@1623b78d]">&gt;&gt;get_test_setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1199262943</td>   <td></td> </tr>
<tr bgcolor="e26588">  <td>23/12/21 21:55:13</td>   <td>831</td> <td>&nbsp;</td><td title="&lt;&lt;Get_TestScript.get_test_teardown()[pri:0, instance:API_TestSuite.Get_TestScript@1623b78d]">&lt;&lt;get_test_teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1199262943</td>   <td></td> </tr>
<tr bgcolor="73bf95">  <td>23/12/21 21:55:10</td>   <td>-2702</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Patch_TestScript.patch_test_executor()[pri:4, instance:API_TestSuite.Patch_TestScript@4efbca5a]">patch_test_executor</td> 
  <td>main@1199262943</td>   <td></td> </tr>
<tr bgcolor="73bf95">  <td>23/12/21 21:55:06</td>   <td>-6531</td> <td>&nbsp;</td><td title="&gt;&gt;Patch_TestScript.patch_test_setup()[pri:0, instance:API_TestSuite.Patch_TestScript@4efbca5a]">&gt;&gt;patch_test_setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1199262943</td>   <td></td> </tr>
<tr bgcolor="73bf95">  <td>23/12/21 21:55:13</td>   <td>835</td> <td>&nbsp;</td><td title="&lt;&lt;Patch_TestScript.patch_test_teardown()[pri:0, instance:API_TestSuite.Patch_TestScript@4efbca5a]">&lt;&lt;patch_test_teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1199262943</td>   <td></td> </tr>
</table>
